In [14]:
# 1) . Print number from 1 to 5 using a while loop.

number = 1

while number <= 5:
    print( "This is a while loop" , number)
    number += 1

This is a while loop 1
This is a while loop 2
This is a while loop 3
This is a while loop 4
This is a while loop 5

In [6]:
# 2) . Calclate the  sum of number from 1 to 10 using a while loop.
    
num3 = 1
sum = 0
while num3 <= 10:
    sum += num3
    num3 += 1
    print("sum of number from 1 to 10 is :" , sum )

sum of number from 1 to 10 is : 1
sum of number from 1 to 10 is : 3
sum of number from 1 to 10 is : 6
sum of number from 1 to 10 is : 10
sum of number from 1 to 10 is : 15
sum of number from 1 to 10 is : 21
sum of number from 1 to 10 is : 28
sum of number from 1 to 10 is : 36
sum of number from 1 to 10 is : 45
sum of number from 1 to 10 is : 55

In [15]:
# 3) . Calculate the factorial of a number using a for loop 

num = int(input("Enter a number: "))

factorial = 1

if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print("The factorial of", num, "is", factorial)

Enter a number:  1

The factorial of 1 is 1

In [16]:
# 4) .Count the number of vowel in a string using a for loop 



# Input string
string = input("Enter a string: ")

# Initialize a counter to keep track of the number of vowels
count = 0

# Define a list of vowels
vowels = ['a', 'e', 'i', 'o', 'u']

# Iterate through each character in the string
for char in string:
    # Check if the character is a vowel
    if char.lower() in vowels:
        count += 1

# Print the count of vowels
print("Number of vowels in the string:", count)

Enter a string:  ajay kumar

Number of vowels in the string: 4

In [9]:
# 5) . print a pattern useing nested loops

rows = 5

for i in range(1, rows + 1):
    for k in range(1, i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [12]:
# 6).  generate a multiplication table useing nested loops

def multiplication_table(n):
    for i in range(1, n+1):
        for  k in range(1, n+1):
            print(i * k, end="\t")
        print()

# Example: generate a multiplication table up to 10x10
multiplication_table(10)

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100